@import "../../../assets/styles/variables";

.wrapper {
  height: 100vh;
  display: grid;
  background: $bg;
  overflow-y: scroll;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  .header {
    grid-area: header;
    background: $primary-color;
  }
  .main {
    grid-area: main;

    background: $white;
    margin: 5%;
    box-shadow: $shadow;
    @include smDown {
      margin: 1rem 1.5rem;
    }
  }
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 0.87rem;
  }
}
