<div class="container">
    <app-spinner *ngIf="loading"></app-spinner>
    <div *ngIf="!loading" class="card">

        <div class="cardHeader">Recipes</div>
        <div class="cardBody" *ngIf="error===''; else displayError">
            <div *ngFor="let recipe of recipes, let i = index ">
                <div class="textHeading">Special Taco Recipe</div>
                <div class="list" [innerHTML]="recipe | marked"> </div>
            </div>
            <div class="loadMore">
                <button class="button" (click)="loadMore()"
                    ngDisabled="loadingMore">{{loadingMore ?'loading...':'Load new recipe'}}</button>
            </div>
        </div>
        <ng-template #displayErro>
            <p>{{error}}</p>
        </ng-template>
    </div>
</div>