<div class="container">
    <div *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loading" class="card">
        <div class="cardHeader">Recipes</div>
        <div class="cardBody">
            <div *ngFor="let recipe of recipes, let i = index ">
                <div class="textHeading">Special Taco Recipe</div>
                <div class="list" [innerHTML]="recipe | marked"> </div>

            </div>
            <div class="loadMore">
            <button class="button" (click)="loadMore()" ngDisabled="loadingMore">{{loadingMore ?'laoding...':'Load new recipe'}}</button>
            </div>
        </div>
    </div>


</div>