@import "../../../assets/styles/variables";

.container {
  .card {
    &Header {
      border-bottom: 1px solid rgba(199, 212, 233, 0.5);
      height: 3.125rem;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
    }
    &Body {
      padding: 2rem 1.5rem;
      & > h1 {
        font-size: 2rem;
      }
      & > p {
        font-size: 0.85rem;
      }
    }
  }
}
