// Typography

$basefont: 15.025px;
$bodyfont: "Jost", sans-serif;
$primary-color: #7f0080;
$white: #ffffff;
$text-black: #333333;
$bg: #e0e5ef;
$shadow: 0 10px 20px rgba(116, 140, 173, 0.2);

// Media Queries

$xsmallup: "only screen and (min-width: 368px)";
$smallup: "only screen and (min-width: 576px)";
$smediumup: "only screen and (min-width: 676px)";
$mediumup: "only screen and (min-width: 768px)";
$mediumdown: "only screen and (max-width: 767px)";

//mixins

@mixin smDown {
  @media ($smallup) {
    @content;
  }
}
